<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">WEB1</a>
    </div>
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#login">Login</a></li>
      <li><a href="#register">Register</a></li>
 
    </ul>
  </div>
  </div>

</nav>

<div class="container">
  <app-first></app-first>
</div>
<div class="container2" id="login">
  <app-second></app-second>
</div>
<div class="container3" id="register">
  <app-third></app-third>
</div>
