<div class="container">
  <p class="main">Your place...Your Choice</p>
  <div class="row">
      <div class="col-md-4">
          <div class="thumbnail">
              <img src="/assets/shopping.jpg" alt="shopping" style="width:100%">
              <div class="caption">
                <p>Shopping</p>
              </div>
            
          </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/assets/rest.jpg" alt="shopping" style="width:100%">
                <div class="caption">
                  <p>Restaurant</p>
                </div>  
            </div>
          </div>
          <div class="col-md-4">
              <div class="thumbnail">
                  <img src="/assets/books.jpg" alt="shopping" style="width:100%">
                  <div class="caption">
                    <p>Read Books</p>
                  </div>
              </div>
            </div>
  </div>
</div>