<h1 style="padding: right 500px;">REGISTER HERE</h1>
<h2>ENTER YOUR DETAILS:</h2>
<div class="container" style="padding-left:400px">
<div class="register">
<form>
     <div>
       <br>
       <label form="name">FULL NAME:</label>
         <input id="name" type="text" placeholder="enter your name here">
         <br>
     </div>
  <div>
      <br>
      EMAIL ID:
        <input id="name" type="text" placeholder="abcd@gmail.com">
      <br>
   </div>
   <div>
     <br>
     <span>PASSWORD:</span>
      <input id="name" type="password">
      <br>
   </div>
  <div>
      <br>

       <span>PHONE NUMBER:</span>
       <input id="name" type="number">
      <br>
      
  </div>
  <div>
    <br>
    <span>DATE OF BIRTH:</span>
    <input id="name" type="date" type="month">
    <br>
  </div>
  <br>
  <div style="padding-left: 100px">
      <input type="button" value="Register">
    
    </div>


</form>
</div>
</div>